<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Primeng</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="table">Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dynamic-columns">dynamic-columns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="template">template</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gridlines">gridlines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stripedrow">stripedrow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="style">style</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="responsive">responsive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stack">stack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sort">sort</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="multiplecolums">multiplecolums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="presort">presort</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="metakey">matekey table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="radiobutton">radiobutton table</a>
        </li>
      </ul> -->

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="checkbox">checkbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="edit">edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="scroll">scroll</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="scrollable">scrollable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="horizontal">horizontal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="flexible">flexible</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="frozenrow">frozenrow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="frozencolumn">frozencolumn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="virtualscroll">virtual scroll</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="columngroup">column group</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="rowgroup">row group</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="expandable">expandable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="rowspan">rowspan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="columnresize">column resize</a>
        </li>



      </ul>


      <!-- <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="timeline">Timeline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tree">Tree</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="treeTable">Treetable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="accordian">Accordian</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="card">Card</a>
          </li> 
        </ul> -->

      <!-- panel -->
      <!-- <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="divider">divider</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" routerLink="fieldset">fieldset</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="panel">panel</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="splitter">splitter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="stepper">stepper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="scrollpanel">scroll-panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tabview">tab-view</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="toolbar">tool-bar</a>
          </li>

      </ul> -->

      <!-- <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="sidebar">Sidebar</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="overlaypanel">Overlaypanel</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" routerLink="tooltip">Tooltip</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contextmenu">Contextmenu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="chart">chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="image">image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="avatar">avatar</a>
          </li> -->

      <!-- <li class="nav-item">
            <a class="nav-link" routerLink="stepper">stepper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="scrollpanel">scroll-panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tabview">tab-view</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="toolbar">tool-bar</a>
          </li> -->
      <!-- <li class="nav-item">
          <a class="nav-link" routerLink="overlaypanel">Overlaypanel</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" routerLink="tooltip">Tooltip</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contextmenu">Contextmenu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="chart">chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="image">image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="avatar">avatar</a>
          </li> -->

    </div>
  </div>
</nav>


<router-outlet></router-outlet>