<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Primeng</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="timeline">Timeline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tree">Tree</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="treeTable">Treetable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="accordian">Accordian</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="card">Card</a>
          </li> 
        </ul> -->

      <!-- panel -->
      <!-- <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="divider">divider</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" routerLink="fieldset">fieldset</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="panel">panel</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="splitter">splitter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="stepper">stepper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="scrollpanel">scroll-panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tabview">tab-view</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="toolbar">tool-bar</a>
          </li>

      </ul> -->

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="sidebar">Sidebar</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="overlaypanel">Overlaypanel</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" routerLink="tooltip">Tooltip</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contextmenu">Contextmenu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="chart">chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="image">image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="avatar">avatar</a>
          </li>
          
         <!-- <li class="nav-item">
            <a class="nav-link" routerLink="stepper">stepper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="scrollpanel">scroll-panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tabview">tab-view</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="toolbar">tool-bar</a>
          </li> -->

      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>